@import "tailwindcss";
@import "breakpoints";

:root {
  --background: #ffffff;
  --foreground: #5a5a5a;
  --primary-color: #c73b24;
  --font-roboto: "Roboto", sans-serif;
}

/*@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}*/

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
  }
}*/

.primaryColor {
  background-color: var(--primary-color);
}
.textPrimaryColor {
  color: var(--primary-color);
}
.lead {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.25;

  &.bigger {
    font-size: 1.65em;
  }
  &.smaller {
    font-size: 1.3em;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  line-height: 1;
  margin-bottom: 0.25em;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  letter-spacing: -2px;

  @include respond-to(desktop) {
    font-size: 4em;
  }
}

h2 {
  font-size: 1.75em;
  font-weight: 500;
  letter-spacing: -1px;
  @include respond-to(desktop) {
    font-size: 2em;
  }
}
