@import "tailwindcss";
@import "breakpoints";
@import "tailwindcss";
@import "flyonui/variants.css";

:root {
  --background: #ffffff;
  --foreground: #5a5a5a;
  --primary-color: #c73b24;
  --secondary-color: #ff9800;
  --font-roboto: "Roboto", sans-serif;
}

/*@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}*/

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
  }
}*/

/* embla base */
.embla {
  position: relative;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

/* dots */
.embla__controls {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
}

.embla__dots {
  display: inline-flex;
  gap: 0.5rem;
}

.embla__dot {
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  background: #cbd5e1;
}

.embla__dot--selected {
  background: #fff;
}

.primaryColor {
  background-color: var(--primary-color);
}
.textPrimaryColor {
  color: var(--primary-color);
}
.secondaryColor {
  background-color: var(--secondary-color);
}
.textSecondaryColor {
  color: var(--secondary-color);
}
.lead {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.25;

  &.bigger {
    font-size: 1.65em;
  }
  &.smaller {
    font-size: 1.3em;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  line-height: 1;
  margin-bottom: 0.25em;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  letter-spacing: -2px;

  @include respond-to(desktop) {
    font-size: 4em;
  }
}

h2 {
  font-size: 1.75em;
  font-weight: 500;
  letter-spacing: -1px;
  @include respond-to(desktop) {
    font-size: 2em;
  }
}
